[2019-05-28 16:16] philwong-awtc opened #1 "Add link from HTML to corresponding YAML."
Frustrating trying to find the right place in YAML to make edits. Frustration is compounded because it's hard to search for the right place in yaml. Compounded further because the HTML is sorted alphabetically, so you can't even correlate position in the yaml.

[2019-06-10 10:25] fmvilas commented on #1
I hear ya. Maybe we should not be sorting it as a starting point. Regarding having links from YAML to HTML, I think it's a cool feature but also a non-trivial one. I'd be very happy if you could take the lead on both. What do you think?

[2019-06-10 16:44] philwong-awtc commented on #1
My heart is willing, but my schedule and brain say otherwise. It’s been a while since I have coded at all and I’m afraid I lost my chops. The chances of me developing this is slim to none. With that said, if I find some free time in the future and I desire to make a programming comeback, I’ll take this ticket if it’s still unclaimed.

BTW, not sorting will be a huge step in the right direction.

T

[2019-08-21 22:09] joshg2k opened #3 "Channel Parameters are not rendered in preview pane"
This is less of an issue if your parameters are all contained in the path of the channel, but unfortunately (as far as I know) AWS API Gateway does not allow you to specify path parameters in their WebSocket API definitions. Therefore I have to use querystring parameters to pass parameters upon establishing a websocket connection to a particular channel.

[2019-08-21 22:19] joshg2k opened #4 ""required" styling when there are nested objects in payload"
<img width="1323" alt="Screen Shot 2019-08-21 at 17 19 23" src="https://user-images.githubusercontent.com/4231004/63472461-d5c1bd00-c437-11e9-8b4c-69d8f09726b0.png">

When your payload contains a nested object and you specify that there are required properties in the enveloping object, then the generated "required" text does not render in the correct location(s) or with the correct styling.

[2019-08-22 13:58] joshg2k opened #5 "Channel with Pub and Sub Operations displays poorly in XL devices"
I've already figured out the fix for this, but don't have time in the moment to submit a PR - so I'll at least capture my findings here and work on the PR later (or if someone else wants to pick this up).

When a Channel has both a Pub and Sub Operation, and your browser width is greater than (approximately) 1248 pixels, the Pub and Sub Operations are displayed in the same row and share the remain

[2019-08-22 13:59] joshg2k opened #6 "CSS capitalization and lowercase classes on Properties.pattern do not match casing rules of the regular expression"
<img width="954" alt="Screen Shot 2019-08-21 at 16 21 19" src="https://user-images.githubusercontent.com/4231004/63469400-b9ba1d80-c42f-11e9-9c71-88e9cdddacf6.png">

Here you can see that the pattern requires the string "readMessages" whereas the preview displays "Must Match ReadMessages" which could lead to confusion.

[2019-08-22 14:00] joshg2k opened #7 "servers: baseChannel does not appear under server preview"
The server: baseChannel property is not displayed in the HTML or Markdown preview which could lead to confusion for consumers and API maintainers.

[2019-08-22 14:46] joshg2k opened #8 "info: contact information does not display in preview pane."
<img width="1030" alt="Screen Shot 2019-08-21 at 15 10 57" src="https://user-images.githubusercontent.com/4231004/63465002-f1bc6300-c425-11e9-87c1-d9359f2f5f75.png">

When the specification contains a contact entry in the info section, it is not displayed in the preview panel.

[2019-08-22 14:46] joshg2k opened #9 "bearerFormat value in securitySchemes has last character trimmed off unless it is followed by a newline."
<img width="722" alt="Screen Shot 2019-08-21 at 15 03 56" src="https://user-images.githubusercontent.com/4231004/63464835-ac983100-c425-11e9-8e61-794d119d9f9d.png">

For example:

      JWTAuth:
      type: http
      scheme: bearer
      bearerFormat: jwt(EOF)

...results in "jw" being displayed in preview panel, whereas...

      JWTAuth:
      type: http
      scheme: bearer
      bearerFormat:

[2019-08-22 17:02] joshg2k commented on #5
After looking into this, it's actually part of the generator repo. Moving this issue there: https://github.com/asyncapi/generator/issues/96

[2019-08-22 17:02] #5 closed

[2019-08-24 11:37] fmvilas commented on #7
`baseChannel` will not make it to version 2.0.0 in the end so I'm closing this. Thanks!

[2019-08-24 11:37] #7 closed

[2019-08-24 11:38] fmvilas commented on #6
This was fixed here: https://github.com/asyncapi/generator/pull/87. Thanks!

[2019-08-24 11:38] #6 closed

[2019-09-09 14:58] kelvinrferreira opened #11 "[BUG] The generate endpoint is throwing 500 error"
**Describe the bug**
While trying to generate a new specification at https://playground.asyncapi.io/ URL the site doesn't respond and log on the console a 500 error `Unexpected error`

**To Reproduce**
Steps to reproduce the behavior:
1. Access the default api examples
2. Try to change some label
3. Everything works
4. Force an error on some tag or paste a new completely different interface
5. The

[2019-09-09 15:25] fmvilas commented on #11
Thanks for reporting, @kelvinrferreira. Checking.

[2019-09-09 15:42] fmvilas commented on #11
It should be fixed now. Can you confirm? Thanks a lot!

[2019-09-09 15:42] #11 closed

[2019-09-09 15:54] kelvinrferreira commented on #11
Thanks for following up @fmvilas .

I've tested and now it's showing the syntax errors correctly! But now is throwing some errors about the version.

Error message:
[code]

And when I change to 2.0 it throws:
[code]

🤔 I'm wondering now if the problem is on my interface...

[2019-09-09 16:05] fmvilas commented on #11
Yes, latest supported version is 2.0.0-rc2. Since 2.0.0-rc1 and 2.0.0-rc2 are release candidates, we don't support each of them but only the latest one. The converter CLI may help in you: https://github.com/asyncapi/converter.

Please, be aware that soon I'll release final version 2.0.0. It's highly probable that 2.0.0 and 2.0.0-rc2 are the same, at least in syntax, so they should be compatible wi

[2019-09-09 16:10] kelvinrferreira commented on #11
Oh, that's good news.

I'll do this. Thank you!

[2020-03-16 13:11] fmvilas opened #18 "Renew HTTPS certificate and make sure it auto-renews"

[2020-03-16 13:14] fmvilas commented on #18
Done. Added a daily cron job so we don't forget again.

[2020-03-16 13:15] #18 closed

[2020-04-13 00:04] #1 closed

[2020-04-13 09:31] #9 closed

[2020-04-13 09:31] derberg commented on #9
Issue moved to [asyncapi/html-template #7](https://github.com/asyncapi/html-template/issues/7) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-21 14:12] DanielFran opened #19 "Error due to signature too long"
#### Describe the bug
Using a description with at least 2000 lines give an error in playground.

#### How to Reproduce
Just needed to use a description with at least 2000 lines
![image](https://user-images.githubusercontent.com/3706415/79875987-5c250900-83e2-11ea-95f5-caf40ed6dd94.png)

#### Expected behavior
Playground should handle long description schema

[2020-05-05 21:03] DanielFran commented on #19
Same issue using AsyncAPIhub:
![image](https://user-images.githubusercontent.com/3706415/81115791-32103280-8f1c-11ea-9829-4214741e0458.png)

[2020-06-04 19:53] DanielFran commented on #19
Closing due to no feedback 😞

[2020-06-04 19:53] #19 closed

[2020-06-18 19:36] jdgiotta opened #20 "Recursive Error with Self-Referenced References"
#### Describe the bug
If you define a component that has a property of the given component a recursive error occurs.

#### How to Reproduce
Steps to reproduce the issue. Attach all resources that can help us understand the issue:

![image](https://user-images.githubusercontent.com/1541999/85064029-f900ea00-b178-11ea-9ab8-e19cb013b9f6.png)
 Create a example component with 2 fields. The first is an

[2020-06-19 06:36] derberg commented on #20
@jdgiotta hi thanks for reporting it. We are aware of the problem, just figuring out what is the best solution for that. Feel invited to join discussion https://github.com/asyncapi/parser-js/issues/83

also, I recommend you don't use the playground as we did not update it with few releases and do not plan to update further. Better switch to https://hub.asyncapi.io/. And yes, I know, we should make

[2020-06-24 18:34] jdgiotta commented on #20
Excellent. Thank you for the new tool, by the way.

[2020-07-14 14:01] derberg commented on #19
@DanielFran so sorry for not getting back to you, this issue was lost in the between other topics 😞
we are not making to many changes in the playground because of https://github.com/asyncapi/playground/issues/20#issuecomment-646463443. Can you check if you have the same issue here https://hub.asyncapi.io/ ?

[2020-08-10 05:33] dominikznidar opened #23 "Support specifying default URL with environment variables"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?

    To improve usability of the tool as a documentation utility. Otherwise users would always have to copy / paste the URL to this app.

- How will this change help?
- What is the motivation?

    To improve usability.

#### Description
Please try answering few of those questions
- What changes have to

[2020-08-18 15:23] galvo opened #25 "DockerHub Image"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
It would be beneficial to developers to be able to run this locally and internally within organisations.

- How will this change help?
Pushing the docker image for every new release to docker hub

- What is the motivation?
Swagger Editor also provides this https://hub.docker.com/r/swaggerapi/swagger-edi

[2020-08-18 15:23] galvo commented on #25
Available to help out if needed

[2020-08-18 15:37] derberg commented on #25
@galvo this topic was brought to us almost 2 months ago in our slack workspace https://asyncapi.slack.com/archives/C34F2JV0U/p1593590581421300 (feel free to join the workspace btw https://www.asyncapi.com/slack-invite/)

It makes a lot of sense. We are just in the middle of making the decision about what is the future of the Playground as we started working on its better version https://hub.asynca

[2020-08-20 12:25] galvo opened #26 "Open asyncapi based on URL parameter"
#### Reason/Context
Please try answering few of those questions

- Why we need this improvement?
It is useful to be able to call the URL directly and pass in the URL of the async file rather than have to use text box and "Import document" button. For instance if you could use URL https://playground.asyncapi.io/?url=https://raw.githubusercontent.com/asyncapi/asyncapi/master/examples/2.0.0/streetlig

[2020-08-20 12:27] galvo commented on #25
Thanks for the community image. Helm charts also useful i have had to create these myself for swagger ui and editor so let me know if you need help with this aspect.

[2020-08-24 16:33] germanschnyder opened #27 "Upgrade avro parser to v0.2.0"
#### Reason/Context
There's a new asyncapi avro parser that supports avro 1.8.2 and doesn't have breaking changes.

[2020-08-24 18:48] #27 closed

[2020-08-26 01:47] michaelpro1 opened #30 "Import document with $ref not able to resolve"
#### Describe the bug
When trying to import a document with references, those references are not resolved against the original document. For example using the example:
https://raw.githubusercontent.com/asyncapi/avro-schema-parser/master/tests/asyncapi-avro-1.9.0.yaml
It is unable to resolve the `schemas/Person-1.9.0.avsc` and looks locally on the system.

I have also tried putting all the async.ya

[2020-08-27 10:30] derberg commented on #30
Hi @michaelpro1

It is currently not possible to resolve references relative to the URL of the spec location. What I mean is that if you want to reference schema from the remote, you need to do this:
[code]

[2020-08-28 07:25] michaelpro1 commented on #30
@derberg Would you consider taking a PR for this feature? I was thinking to simply do it on the client and qualify all relative links

[2020-08-28 12:01] derberg commented on #30
@michaelpro1 I'm not 100% sure what you mean by `qualify all relative links`? What would you do exactly? Playground uses https://github.com/asyncapi/parser-js/ to parse AsyncAPI file, and among other things, it is responsible also for dereferencing.

[2020-08-28 12:27] michaelpro1 commented on #30
For example interface https://github.com/asyncapi/avro-schema-parser/blob/9180ea497b11bd52d4027060251edca3b82fbd1b/tests/asyncapi-avro-1.9.0.yaml#L11 has a reference to a separate schema

I import this document via `https://github.com/asyncapi/avro-schema-parser/blob/master/tests/asyncapi-avro-1.9.0.yaml` URL

During the `/generate` call documents get modified
 $ref: `schemas/Person-1.9.0.avsc` =>

[2020-09-01 11:34] derberg commented on #30
The problem with such an approach is that this would be supported in the playground only and would confuse users. The user would then take such a schema that works fine in the playground and would get errors in the generator for example. Best would be to have something like this in the parser. same as we have with the `path` option that you need to pass to make it easy to resolve references to ext

[2020-09-01 12:00] michaelpro1 commented on #30
That was the first thing I tried actually, in version.js to supply `parserOptions.path` with the value of `req.header('x-asyncapi-base-url')` however it would always error out with an error where it was still looking on file system.

I tried passing the sourceFileUrl and just sourceFolder without any luck, but couldn't figure out why it was failing. Tried it with latest libs without any luck.

Thi

[2020-09-05 07:04] michaelpro1 commented on #30
@derberg The https://github.com/asyncapi/playground/pull/31 seems to resolve it by simply passing the path, I think I was looking at the wrong spot - should have updated html.js/markdown.js. Since file resolution is currently turned off I didn't test it.

[2020-09-09 10:21] derberg commented on #30
awesome that it is possible without any magic

[2020-09-11 16:12] #30 closed

[2020-09-22 06:51] derberg commented on #26
to summarize what needs to be done:
- here https://github.com/asyncapi/playground/blob/master/src/server/views/app.handlebars#L100-L112 we should keep support for `load` param and add support for `url` param that is much more intuitive
- update readme with information how someone can pass link to the playground in the way that it already points to some specification stored remotely

[2020-09-22 13:42] derberg opened #33 "Cleanup GitHub Actions workflows"
**Context**

1. We want to make sure we have healthy community and people respec each other in GitHub. We want to monitor all comments in every repository and analyze sentiments to identify negative ones and get proper notification. Idea is to use GitHub Actions for it, to check sentiments with Google Natural Language API and post negative comments to Slack for review.

2. We manage community file

[2020-09-22 19:09] armhzjz opened #34 "Docker expossed port is not reachable"
#### Describe the bug
After running a container (as indicated in the README.md file), the expossed port (i.e. 83) is not reachable.

#### How to Reproduce
Build an image according to the instructions (maybe with --network=host passed as argument to the docker build command) and run a container of the newly created docker images following the command indicated in the documentation (i.e. README.md).

[2020-09-23 07:45] fmvilas commented on #34
Hey Armando. I just tried to reproduce it and it's working fine for me. I'm using Mac and I know it works on Linux because it's working on the server. May it be something else in your machine?

[2020-09-23 08:26] armhzjz commented on #34
Hi Fran. I will close this issue. Just found out couple of minutes ago that my VPN is preventing me from using any docker exposed ports. Sorry for the noise and thank you.

[2020-09-23 08:27] #34 closed

[2020-09-23 08:30] fmvilas commented on #34
No worries. Happy it's working now for you.

[2020-09-29 19:55] CumminsMikeMattern opened #36 "Polymorphism: schemas with oneOf / allOf not rendering on right side of the Playground"
v2.0.0
A couple of months ago, i wrote a YAML with polymorphism and it rendered with the "twistees" showing the various options.
Now the same YAML file just shows a blank when I try to "drill down"

[2020-10-06 14:05] derberg commented on #36
@CumminsMikeMattern what do you mean by `twistees`? Would be great if you could share some screenshot or something.

The playground underneath uses the html-template. You could try installing AsyncAPI Generator (npm i -g @asyncapi/generator) and then use [the version](https://github.com/asyncapi/html-template/releases) of the template that is a few months old.

[2020-10-08 15:20] CumminsMikeMattern commented on #36
Sorry --
The attached snippet of YAML produces the rendering attached
I highlighted the area that I expected to see oneOf with the 3 schemas:
            - $ref: '#/components/schemas/csuDefineSimpleOperationObject'
            - $ref: '#/components/schemas/gpsDefineSimpleOperationObject'
            - $ref: '#/components/schemas/discardDefineSimpleOperationObject'

[2020-10-09 09:10] derberg commented on #36
`oneOf` functionality in HTML was not modified since at least 7 months...hmm 🤔

so you mean `oneOf` not on a `Message` object but inside a JSON schema of the message payload.

I managed to replicate the error with the following example 🍾
[code]

the result is exactly the same you got
<img width="342" alt="Screenshot 2020-10-09 at 11 09 35" src="https://user-images.githubusercontent.com/6995927/955

[2020-10-09 13:35] CumminsMikeMattern commented on #36
You are spot-on......
Any ideas for a workaround ?

[2020-10-09 14:40] derberg commented on #36
not really, it is just not supported/implemented. I just had a quick look at this part

<img width="392" alt="Screenshot 2020-10-09 at 16 31 12" src="https://user-images.githubusercontent.com/6995927/95595849-f0486280-0a4c-11eb-9bd5-cfa25c300fb3.png">

to fix it I had to modify https://github.com/asyncapi/html-template/blob/master/partials/type.html like this

[code]

to get

<img width="357" alt=

[2020-10-09 20:31] CumminsMikeMattern commented on #36
I finally found the screenshot---
In an email dated April 2, 2020, I sent the following
![image](https://user-images.githubusercontent.com/72101813/95628646-79ab6500-0a4c-11eb-8d81-eb52fc2c478e.png)
.... so what changed between then and now ?

[2020-10-12 11:59] derberg commented on #36
@CumminsMikeMattern hey, great you found it, it allowed me to look for an issue and find where it happened. I fixed it here https://github.com/asyncapi/html-template/pull/97

Please try it out and let me know in the PR if it fixes your issues, works well with my example

to try it, install generator and do:
[code]

[2020-10-12 20:53] CumminsMikeMattern commented on #36
Haha, you have mistaken me for a real coder! lol
I have no clue how to do any of that .....I just wanted the Playground to behave like it used to
If it fixed your example, I am hopeful that it fixed my problem
When will your fix show up in the Playground?

[2020-10-13 06:39] derberg commented on #36
@CumminsMikeMattern can you share your file so I try it out with my fix

you don't need to be a programmer to check it on your own. You just need a terminal:
[code]

[2020-10-14 22:05] CumminsMikeMattern commented on #36
I got the following ...........

Error: spawn git ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:267:19)
    at onErrorNT (internal/child_process.js:469:16)
    at processTicksAndRejections (internal/process/task_queues.js:84:21)
Something went wrong:
Error: Error: spawn git ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:267:19)
    at on

[2020-10-15 06:52] derberg commented on #36
you need to have git installed on your machine too https://git-scm.com/book/en/v2/Getting-Started-Installing-Git#_installing_on_windows

[2020-10-15 13:29] CumminsMikeMattern commented on #36
Ok, I installed git...........

ERROR: Failed to set up Chromium r800071! Set "PUPPETEER_SKIP_DOWNLOAD" env variable to skip download.
Error: unable to get local issuer certificate
    at TLSSocket.onConnectSecure (_tls_wrap.js:1502:34)
    at TLSSocket.emit (events.js:314:20)
    at TLSSocket._finishInit (_tls_wrap.js:937:8)
    at TLSWrap.ssl.onhandshakedone (_tls_wrap.js:711:12) {
  code: 'UNAB

[2020-10-15 14:11] derberg commented on #36
try `npm config set puppeteer_skip_chromium_download true -g`

[2020-10-15 14:29] CumminsMikeMattern commented on #36
Done !
Your template successfully fixed the problem !
THANK YOU for the fix AND for taking the time to walk a noob through the validation thereof !
![image](https://user-images.githubusercontent.com/72101813/96143620-4431cc00-0ed1-11eb-9198-37fa582eded1.png)

[2020-10-15 15:12] derberg commented on #36
@CumminsMikeMattern no worries, pleasure on my side 😄 I'm addicted to people happiness 😆

Checkout the other issue, where I show how it will look like now, displaying proper prop names

[2020-10-16 07:14] #36 closed

[2020-10-16 09:51] Orodan commented on #26
Hey, I'll give it a try :)

[2020-10-16 09:55] derberg commented on #26
@Orodan we talked about this issue during our stream yesterday, so you might want to check it out https://youtu.be/wqp0uoLbChg?t=2391

[2020-10-16 11:58] Orodan commented on #33
Hey, I'll give a go to this issue too if that's ok :)

[2020-10-16 12:14] #33 closed

[2020-10-16 12:30] #26 closed

[2020-10-19 14:39] sandpipersburg opened #41 "hub.asyncapi.io generated HTML docs do not allow to expand / collapse schema objects"
#### Describe the bug
https://hub.asyncapi.io/ generates HTML docs that do not allow to either expand or collapse schema objects, by clicking on the right arrow UI element.

#### How to Reproduce
1. Go to https://hub.asyncapi.io/.
2. Insert some AsyncAPI spec into the editor, such as Streetlights API. AsyncAPI spec that has schema object inside schema object is the most demonstrative: https://gist

[2020-10-24 18:32] derberg commented on #20
Playground updated with the fix and support for circular refs

[2020-10-24 18:32] #20 closed

[2020-10-29 15:35] CumminsMikeMattern opened #43 "Playground: "Required" tags not rendering for objects within arrays"
#### Describe the bug
In the playground v2.0.0, "required" tags are not rendering for objects within arrays

#### How to Reproduce
The following YAML renders as expected --
        registrationInfo:
          description: >-
            Registration info object, containing details of equipment for which
            registration details are to be updated.
          type: object
          required:

[2020-10-29 16:12] derberg commented on #43
@CumminsMikeMattern hey, just opened a PR with a fix https://github.com/asyncapi/html-template/pull/114

[2020-10-29 16:51] CumminsMikeMattern commented on #43
Wow that was fast!
Do you need me to check it?
If so, please feed me the 'ag' command

[2020-10-29 17:09] derberg commented on #43
would be awesome if you could help with the review:
[code]

[2020-10-29 17:26] CumminsMikeMattern commented on #43
Gold Star!
![image](https://user-images.githubusercontent.com/72101813/97609710-5429cf80-19ea-11eb-894c-ce644c8e3431.png)

[2020-10-29 17:31] derberg commented on #43
awesome, thanks, let me find someone who can approve my PR, and once we release the template, we will update the playground too, hopefully before the weekend

[2020-10-30 09:46] #43 closed

[2020-11-10 00:16] #23 closed

[2020-12-10 10:53] derberg opened #48 "Fix sonarcloud issues before we can make this check mandatory"
#### Describe the bug
- Many bugs https://sonarcloud.io/component_measures?id=asyncapi_playground&metric=new_duplicated_lines&pullRequest=47&selected=asyncapi_playground%3Asrc%2Fserver%2Froutes%2Fhtml.js&view=list
- also the problem is that https://github.com/asyncapi/playground/tree/master/public/codemirror is committed to repo and sonarcloud gets crazy about it

#### Expected behavior
sonarcloud

[2020-12-15 14:08] fattybenji commented on #25
Hi ! I have a suggestion when it comes to this image, as I noticed it is quite big. Could you use `node:12-buster-slim` instead of the basic `node:12` image ? This divides the image size by 4, and it looks like it works just fine.

I put it here because it deals with the docker image but I can open a new issue and an associated PR if you prefer.

[2020-12-16 12:30] derberg commented on #25
@fattybenji definitely makes sense, thanks. Feel free to open PR to fix it now so we do not forget later

[2021-01-21 18:03] jotamusik opened #62 "Be able to show the errors when a yml parser fails"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
Because the users on playground, don't really know why their definition is failing.
- How will this change help?
It will make the users unserdstand better why ans where the errors ocurred
- What is the motivation?
I've been using the playground these days and I've become very frustrated in order to loca

[2021-01-25 21:09] #62 closed

[2021-02-12 10:30] ma-schmidt-de opened #80 "Not able to use locally"
Hi everyone,

I'm aiming to use the AsyncAPI Playground locally and hence followed the [README's section on that](https://github.com/asyncapi/playground#using-it-locally). Unfortunately, I'm running into an error that prevents the html rendering.

### Steps to reproduce

1. Clone git repo
2. Run `npm install`
3. Run `npm start`
4. Open http://localhost:5000/ and add [Account Service yaml](https://

[2021-02-12 10:36] derberg commented on #80
@ma-schmidt-de it is not much of a problem with the playground but the generator. Generator at the moment doesn't like npm 7 😞

Have a look at this thread https://github.com/asyncapi/generator/issues/505

[2021-02-12 11:11] ma-schmidt-de commented on #80
Hi @derberg
Thanks a lot for the instant reply. Downgrading npm to version 6.13.7 did the trick for me. 👍

[2021-02-12 14:55] Theiaz opened #81 "Styling is broken"
#### Describe the bug
Styling of the playground example seems broken. Seems like CSS classes are not applied / missing.

#### How to Reproduce
![playground](https://user-images.githubusercontent.com/9378662/107782904-e9f32b80-6d49-11eb-81d0-b061847547f7.png)

[2021-02-12 16:01] derberg commented on #81
Versions need to be updated, PR opened

[2021-02-12 16:50] #81 closed

[2021-02-16 08:19] #80 closed

[2021-03-18 12:39] jonaslagoni opened #94 "Empty message oneOf array throws undefined error"
#### Describe the bug
Empty `oneOf` array as message should be allowed but throws `undefined` exception.

#### How to Reproduce
Use the following document:
[code]

#### Expected behavior
Not to throw an error, since this is technically a correct document.

[2021-03-18 12:43] jonaslagoni commented on #94
Or does `a message MUST be valid only against one of the referenced message objects.` from the spec imply that you MUST have at least one message defined🤔

[2021-04-01 13:24] lukaszkowalik opened #105 "Download documentation as zip file from playground page does not work"
#### Describe the bug
I observed download action available in playground does no work.

#### How to Reproduce
I have been using AsyncAPI Playground both from both official page:
- https://playground.asyncapi.io/
- and locally as docker (that I prepared based on https://github.com/asyncapi/playground instruction)
- taken from master: https://github.com/asyncapi/playground/commit/b8a94757562ad130903

[2021-04-01 13:26] derberg commented on #105
@lukaszkowalik it would help us a lot if you narrow down to a specific version when it stopped working 🙏🏼 it would definitely speed up providing the fix

[2021-04-10 00:39] #48 closed

[2021-04-12 08:06] derberg commented on #48
let's keep it closed as we will anyway work on https://github.com/asyncapi/studio/ now

[2021-04-19 13:28] AceTheCreator commented on #105
@derberg  Please kindly review the PR above.

[2021-04-19 14:16] derberg commented on #105
@AceTheCreator lgtm, thanks!

[2021-04-19 18:51] lukaszkowalik commented on #105
@AceTheCreator, I double checked your commit. I downloaded it and tested manually. It works. Thank you.

[2021-04-24 10:43] fr3shw3b commented on #41
I've recently found this issue also to be the case in https://playground.asyncapi.io.
More precisely, you can expand and collapse a few times and then it stops working and you have minimise or go to a different tab and then come back to be able expand or collapse schemas.

Would this need a separate issue to be created?

[2021-04-26 08:27] derberg commented on #41
@fr3shw3b [this](https://github.com/asyncapi/playground/pull/117) issue introduces a new way of rendering docs using our react component and it will also fix this issue in the playground. Once merged, we will close this issue as in the end hub.asyncapi.io is not maintained and will heavily refactored here https://github.com/asyncapi/studio/

[2021-04-26 08:29] #105 closed

[2021-06-26 00:26] #41 closed

[2021-07-01 15:18] MartinMuzatko opened #138 "Add query parameter to collapse editor"
#### Reason/Context
I would like to ber able to quickly share the documentation without having the other one see the source yml file, which is not relevant for the documentation to view.

#### Description
This can be changed here:

https://github.com/asyncapi/playground/blob/master/src/server/views/app.handlebars#L174-L177

We could add the class `left-pane--collapsed` to the element with the clas

[2021-07-01 15:43] magicmatatjahu commented on #138
@MartinMuzatko Hi! Great idea! To clarify: the collapse button to see the source of spec should be also visible if someone pass as query parameter the `collapsed`, yes? For me it should, but maybe you have a different view of it.

[2021-07-01 15:59] MartinMuzatko commented on #138
I can still be visible, I have no problem with that :).
If you want more fine grained control, we could add more options.
I usually add query parameters to hide certain parts of navigational elements if others want to embed or share my app.
Of course you can keep any branding that makes it apparant that it belongs to AsyncAPI.

If it were me, I would also provide an option to hide the second heade

[2021-07-01 17:40] magicmatatjahu commented on #138
I suggest two query parameters:
- `collapseEditor` which will collapse the editor. Allowed values: empty or `true`
- `template` which will open the given template. Allowed values: `markdown` and `html`

So query like `?collapseEditor&template=markdown` will collapse the editor and open the render the markdown template. By default editor will be expanded and rendered will be html.

What do you thin

[2021-07-02 08:52] MartinMuzatko commented on #138
Looks good, I like it! I added my two cents to the PR.

[2021-07-05 11:46] #138 closed

[2021-07-05 12:05] magicmatatjahu commented on #94
I tested it in the latest playground and everything works:

![image](https://user-images.githubusercontent.com/20404945/124468947-072ca300-dd9a-11eb-9675-398cc834dd2c.png)

[2021-07-05 14:47] magicmatatjahu commented on #138
@MartinMuzatko It works! Check out an example https://playground.asyncapi.io/?url=https://raw.githubusercontent.com/asyncapi/spec/1.2.0/test/docs/slack-rtm.yml&readOnly :)

[2021-08-13 10:27] galvo opened #147 "Add support for AsyncAPI 2.1.0"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
The latest AsyncAPI is now 2.1.0 but playground only supports 2..0.0 via the latest docker image https://hub.docker.com/r/ryts/asyncapi-playground/tags?page=1&ordering=last_updated, however https://playground.asyncapi.io/ supports 2.1.0, is it possible to release the update with  2.1.0 support?

- How w

[2021-08-16 06:12] derberg commented on #147
@galvo hey, the problem is that the image you are referring to is not official AsyncAPI image maintained by us. Playground doesn't have an official image published to docker or any other registry. There is a Dockerfile but just for users to build on their own.

[2021-08-18 11:36] galvo commented on #147
Ok cool, can we get a official release of playground on Github that way i can tag and push a docker image to align with it

[2021-08-18 14:18] derberg commented on #147
we were always hesitant to do it because of the works we plan for new version of the playground, that will also have new name. but on the other hand why not publishing it now and then just deprecate the image and point to the new one 🤔

@fmvilas what do you think?
@galvo would you be able to help? we have some ready workflow for docker and I think it is enough just to copy-paste but for even so tr

[2021-08-18 15:29] fmvilas commented on #147
Yeah, I don't think we'll have Studio ready to replace Playground any time soon so let's go ahead and publish a Docker image 👍

[2021-08-18 16:34] galvo commented on #147
Happy to help out where i can

[2021-08-23 11:40] derberg commented on #147
@galvo awesome! we basically need a workflow like https://github.com/asyncapi/generator/blob/master/.github/workflows/release-docker.yml and related npm scripts in place. As for the secrets, I would just have to make sure they are globally available in entire organization as for not they are only in `generator`

[2021-08-24 19:55] galvo commented on #147
ok leave that with me

[2021-09-10 14:19] mschechter-bellese opened #170 "Markdown does not display"
#### Describe the bug
Instead of the Markdown rendering, the following message is displayed:
[code]

#### How to Reproduce
Steps to reproduce the issue. Attach all resources that can help us understand the issue:

1. Navigate to `https://playground.asyncapi.io/?load=https://raw.githubusercontent.com/asyncapi/asyncapi/v2.1.0/examples/simple.yml` (this also happens with the 2.0.0 example)
2. Click `

[2021-09-13 07:48] derberg commented on #170
@mschechter-bellese thanks for reporting it!
@fmvilas redeploy? I guess it is because of logs, we do not need the history

[2021-09-13 09:34] MartinMuzatko opened #171 "yml file does not render/generate anymore."
#### Describe the bug
A week ago, our documentation still worked on asyncapi playground. Now I get a blank document and no error for the provided yml file

#### How to Reproduce
See this link:
https://playground.asyncapi.io/?load=https://app-store-api.service.sicon.eco/uploads/smqtt-public-asyncapi.yml

- Spec: https://app-store-api.service.sicon.eco/uploads/smqtt-public-asyncapi.yml

#### Expecte

[2021-09-13 10:18] fmvilas commented on #170
Yeah, we should get rid of these lines: https://github.com/asyncapi/playground/blob/master/src/server/index.js#L23

[2021-09-13 10:55] mschechter-bellese commented on #170
@derberg / @fmvilas,

Looks great! Thanks for the quick response!

[2021-09-13 11:24] derberg commented on #171
@MartinMuzatko sorry, we had some issues with playground that our monitoring could not spot. Fixed now

[2021-09-13 11:24] #171 closed

[2021-09-13 11:25] derberg commented on #170
@fmvilas maybe not get rid but just hide them behind some env variable like `ENABLE_LOGS` and deploy our instance without it but leave others to use it if they want

[2021-09-13 15:00] fmvilas commented on #170
Yeah, that would be better indeed.

[2021-09-13 15:06] derberg commented on #170
@fmvilas you plan to work on it? easy to do, you could create a separate issue labeled as `good first issue` and we could close this one

[2021-09-13 15:16] fmvilas opened #172 "Add ENABLE_DEBUG flag to turn on logging"
#### Reason/Context
Currently, we're console logging every AsyncAPI document that's received. This is causing memory issues in our production machines. The code is here: https://github.com/asyncapi/playground/blob/master/src/server/index.js#L23

#### Description
We should put this `console.log` under an optional flag like an `ENABLE_DEBUG` environment variable. This way we can control when we want

[2021-09-13 15:20] mschechter-bellese commented on #170
Works for me

[2021-09-13 16:03] derberg commented on #172
please also add `dev` script to `package.json` where `ENABLE_DEBUG=true` is passed to start the server for easier development

[2021-09-14 07:12] #170 closed

[2021-09-14 07:13] fmvilas commented on #170
Thanks for the heads up, @mschechter-bellese.

[2021-09-14 08:38] derberg commented on #171
@MartinMuzatko just curious, do you plan to render your docs [here](https://docs.exa.sicon.io/developer/mqtt-api-documentation.html) in the future?

[2021-09-15 14:43] MartinMuzatko commented on #171
Hi @derberg. We have settled/agreed on having an extra subdomain that provides the API documentation for now ( https://apidocs.service.sicon.eco/ ) ( [see code here](https://gist.github.com/MartinMuzatko/ada6c2ff650acf2cf3eaf024cc597273) ), which is easier for us to maintain and scrape (for our offline documentation), as we migrate from markdown generated docs to Confluence generated docs ( https:

[2021-09-15 14:50] derberg commented on #171
@MartinMuzatko thanks for all the details. We always need to know about any publicly available AsyncAPI files because we want community to see it. I will make sure  your company is listed here https://apitracker.io/specifications/asyncapi

As a side note, consider submitting a presentation proposal for our upcoming conference -> https://conference.asyncapi.com/ I always encourage existing end user

[2021-10-14 09:33] iamVP7 opened #199 "Change Default AsyncAPI version"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
When we visit https://playground.asyncapi.io/ for first time, a pop-up comes asking to migrate to newer version of AsyncAPI
![example_2_0_0](https://user-images.githubusercontent.com/3106852/137290432-421f397d-ef6d-49d3-9873-31063ac987c7.png)

- How will this change help?
For first time users, it will b

[2021-10-14 12:51] #199 closed

[2021-10-20 09:44] smoya opened #202 "Share feature proposal"
#### Reason/Context
The idea of this proposal is to add a "Share" button (or any component that fits) allowing the user to generate a URL that can be shared with anyone, and that will open https://playground.asyncapi.io but with the current spec file in a certain moment in time and all playground settings such as the template and if it should be readOnly or not.

Sharing a URL that points to a rep

[2021-10-21 12:55] smoya commented on #202
Finally created a new one on Studio repo https://github.com/asyncapi/studio/issues/127 instead of transferring for readability purpose.
Closing this one!

[2022-01-12 17:21] derberg commented on #172
closing as it is all about `studio` now and `playground` will be soon archived, no sense for anyone to contribute to the project

[2022-01-12 17:21] #172 closed

[2022-01-12 18:06] derberg commented on #172
closing as it is all about `studio` now and `playground` will be soon archived, no need for anyone to contribute to the project

[2022-03-01 15:22] magicmatatjahu commented on #147
@galvo We will be archiving the Playground in the near future so I suggest you to use the https://studio.asyncapi.com/ which is the successor of the Playground but with that same and much more capabilities. We also have a Docker Image - https://github.com/asyncapi/studio#using-it-via-docker. We are no longer mainataning the playground, we will be redirecting to the studio. Sorry for problems!

[2022-06-03 16:48] tanujazz3 commented on #30
Can anyone please help why I am not able to run and execute the generator for the remote using
**ag ./asyncapi.yaml @asyncapi/java-spring-template -o output -p user="username"-p password="password"**

I have seen some examples where they are providing the schema registry url under Url-->Binding

Here is how my  asyncapi.yaml looks like

asyncapi: 2.4.0
info:
  title: Sample Service
  version: 1.0.